* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.ipynb text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.zip binary
*.pth binary
*.pt binary
*.onnx binary
*.engine binary
